@model WEB_Presentation.Models.InternModel

@{
    ViewBag.Title = "Create Worker";
}

<h2> Create </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New intern</h4>
        <hr/>

        @{Html.RenderPartial("EditorTemplates/InternModel");}

    </div>
    @*<div id="Button3" class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>*@
}