@model WEB_Presentation.Models.ContractorModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contractor</h4>
    <hr />
    <dl class="dl-horizontal">

        @Html.DisplayForModel()

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    }
</div>
