@model WEB_Presentation.Models.PersonModel

<div>
    <hr />
    @Html.DisplayForModel()

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
