@model WEB_Presentation.Models.EmployeeModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    @Html.DisplayForModel()

</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @*<i class="fa fa-pencil-square-o"></i>
    <a class="edit-@Model.PersonType" id="@Model.Id" href="@Url.Action("Edit", new { id = Model.Id })">Edit</a> |*@
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
