@model WEB_Presentation.Models.ContractorModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contractor</h4>
    <hr />
    @Html.DisplayForModel()

</div>
<p>

    <a class="edit-@Model.PersonType" id="@Model.Id" href="@Url.Action("Edit", new {id = Model.Id})">Edit</a> |
    
    @*@Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |*@
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
