@model IEnumerable<Domain.Row.PersonDto>

@{
    ViewBag.Title = "Workers";
}

<h2>Workers</h2>

<p>
    <i class="fa fa-plus"></i>
    @Html.ActionLink("Create New Intern    ", "CreateIntern", null, new {@id = "create-intern-btn"}) |
    <i class="fa fa-plus"></i>
    @Html.ActionLink("Create New Contractor    ", "CreateContractor", null, new {@id = "create-contr-btn"}) |
    <i class="fa fa-plus"></i>
    @Html.ActionLink("Create New Employee    ", "CreateEmployee", null, new {@id = "create-empl-btn"})
</p>

<div id="table-container">
    @{Html.RenderPartial("WorkerList");}
</div>

<div id="create-worker">
    <div id="create-content">
        test create
    </div>
</div>

<div id="edit-worker">
    <div id="edit-content">
        test edit
    </div>
</div>

<div id="details-worker">
    <div id="details-content">
        test details
    </div>
</div>

<div id="delete-worker">
    <div id="delete-content">
        test delete
    </div>
</div>
