@model IEnumerable<Domain.Row.PersonDto>

@{
    ViewBag.Title = "Index";
}

<h2>Workers</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {id = "create-btn"})
</p>

<div id="table-container">
    @{Html.RenderPartial("WorkerList");}
</div>
<div id="create-worker">
    <div id="create-content">test</div>
    
</div>
@*<div id="">
    <div id="create-form">test2</div>
</div>*@