@model WEB_Presentation.Models.CompanyModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.DisplayForModel()

    </dl>
</div>
<p>

    @*<a class="edit" id="@Model.Id" href="@Url.Action("Edit", new {id = Model.Id})">
        <i class="fa fa-pencil-square-o"></i>    
        Edit
    </a> |*@
</p>
