@model Domain.Row.CompanyAllInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        @{Html.RenderPartial("EditorTemplates/CompanyModel");}

    </dl>
</div>
<p>
    <a class="details" id="@Model.Id" href="@Url.Action("Edit", new {id = Model.Id})">Edit</a> |

    @*@Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
