@model IEnumerable<Domain.Row.CompanyNameAndActivity>

@{
    ViewBag.Title = "Companies";
}

<h2>All Companies</h2>

<p>
    <i class="fa fa-plus"></i>
    @Html.ActionLink("Create New", "Create", null, new {@id = "create-company-btn"})
</p>

<div id="table-container">
    @{Html.RenderPartial("CompanyList");}
</div>

<div id="create-company">
    <div id="create-content">
        test create
    </div>
</div>

<div id="edit-company">
    <div id="edit-content">
        test edit
    </div>
</div>

<div id="details-company">
    <div id="details-content">
        test details
    </div>
</div>

<div id="delete-company">
    <div id="delete-content">
        test delete
    </div>
</div>