@model Enum
<div class="form-group">
    @Html.LabelFor(model => model, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EnumDropDownListFor(model => model, new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model, "", new {@class = "text-danger"})
    </div>
</div>